html {
  scroll-behavior: smooth;
}
body {
  background: #212121;
  color: #bdbdbd;
}
.color {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(195, 227, 234, 1) 25%,
    rgba(215, 175, 98, 1) 75%,
    rgba(0, 0, 0, 1) 100%
  );
}
nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 20px;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-left: 40px;
  top: 0;
  height: 41px;
  width: 300px;
  background: #333333;
}
nav li {
  display: flex;
  align-items: center;
  list-style-type: none;
  display: inline;
}
nav li a {
  padding-left: 10px;
  text-decoration: none;
  color: #bdbdbd;
  border-width: thick;
  border-color: white;
  height: 100%;
}
nav li a:hover {
  text-decoration: underline;
}
nav li a:active {
  color: #ffffff;
}
nav li a:target {
  color: blue;
}
.navFader {
  height: 41px;
  width: 100px;
  background: linear-gradient(
    135deg,
    rgba(51, 51, 51, 1) 50%,
    rgba(33, 33, 33, 0) 65%
  );
}
.background {
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("Src/Images/ballpen-rules.jpg");
  background-size: cover;
  background-position: center center;
}
.mainContContainerBottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 95%;
  left: 0px;
  width: 100%;
}
.mainContDownArrow {
  width: auto;
  height: 40px;
}
.mainContContainerFader {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    0deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(33, 33, 33, 0) 100%
  );
  top: 0px;
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 0;
}
.mainContContainerBottomFader {
  display: flex;
  justify-content: center;
  background: linear-gradient(
    180deg,
    rgba(51, 51, 51, 1) 0%,
    rgba(33, 33, 33, 0) 100%
  );
  top: -45px;
  width: 100%;
  height: 45px;
  margin: 0;
  padding: 0;
}
.mainCont {
  padding: 0px;
  margin: 0px;
  background: rgba(51, 51, 51, 1);
  width: 100%;
}
.mainCont P {
  font-size: 30px;
  text-align: center;
}
.mainCont a {
  color: #bdbdbd;
}
.mainContContainerTop {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 10%;
  left: 0px;
  width: 100%;
  height: auto;
  z-index: -1;
}
.gridContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 20px 20px;
  grid-auto-flow: row;
  text-align: center;
}
.gridContainer P {
  font-size: 20px;
  text-align: left;
  padding: 20px;
  padding-bottom: 0px;
  margin: 0px;
  width: 75%;
}
.gridContainer a {
  text-decoration: none;
}
.gridContainer ul {
  margin-top: 5px;
  text-align: left;
}
.gridItem {
  display: flex;
  justify-content: center;
  padding-bottom: 20px;
}
#lesson {
  display: flex;
  justify-content: center;
  bottom: 0;
}
#lessonpage {
  overflow: hidden;
  scroll-behavior: auto;
}
.questions {
  display: flex;
  justify-content: center;
  align-content: center;

  position: absolute;
  width: 100%;
  height: 768px;
  top: 1536px;
  z-index: -1;
}
.questions form {
  margin: 0;
  width: 50%;
  padding-left: 80px;
  padding-bottom: 20px;
  padding-top: 20px;
  font-size: 25px;
}
#submittButton {
  width: 100px;
  font-size: 25px;
}
.formContainer {
  display: flex;
  justify-content: center;
}
